@import 'globals';

.hero {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
form {
  margin: 30px auto;
  text-align: center;
}
.arrow-down {
  padding: 30px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 150px;
  &:before {
    content: "";
    top: 0;
    left: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
  }
}
.quotes-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url('/img/stardust.png');
}
input {
  background: rgba(#fff, 0.1);
  color: #ececec;
  outline: none;
  border: 2px solid transparent;
  padding: 10px;
  width: 300px;
  display: block;
  margin: 10px auto;
  transition: .3s all;
  &:focus {
    border-color: rgba($green, 0.4);
  }
}
.btn {
  width: 300px;
}
h2 {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}
blockquote {
  color: white;
}