@import 'globals';

*, *:before, *:after {
  box-sizing: border-box;
}

main {
  min-height: calc(100vh);
  background: linear-gradient(rgba(#000, .2), rgba(#000, .2)), url('/img/background-main-road.jpeg') 0/cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  background: rgba(#fff, 0.2);
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  h2 {
    z-index: 99999;
    font-size: 32px;
    font-weight: 100;
    margin: 0;
    a, a:hover, a:active, a:focus {
      color: inherit;
      text-decoration: none;
    }
  }
  nav {
    height: 100px;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    a {
      font-weight: 100;
      font-size: 16px;
      padding: 20px;
      color: #00FF48;
      &:focus, &:hover {
        color: mix(#00FF48, black, 80%);
      }
    }
  }
}
form {
  margin: 30px auto;
  text-align: center;
}
h1 {
  color: white;
  font-weight: 100;
  text-align: center;
}
